/***** FONT IMPORTS *****/
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap&family=Playpen+Sans:wght@100..800&display=swap&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/saucer-bb");
/***** End FONT IMPORTS *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

/* :root {
    --heading: rgb(0, 10, 45);
    --para: #777;
    --para-tint: #e4e4e4;
    --black: #212529;
    --white: #fff;
    --helper: #0661da;
    --helper-tint: #f3f4ff;
    --bg: rgb(249, 249, 255);
    --gradient: linear-gradient(
        0deg,
        rgb(132, 144, 255) 0%,
        rgb(98, 189, 252) 100%
    );
    --gradientSupport: -webkit-linear-gradient(
        0deg,
        rgb(132, 144, 255) 0%,
        rgb(98, 189, 252) 100%
    );
    --shadow: 0px 0px 20px 0px rgb(132, 144, 255 / 20%);
} */
/* :root {
    --heading: #071330;
    --para: #0c4160;
    --para-tint: #c3ceda;
    --black: #212529;
    --white: #ffffff;
    --helper: #738fa7;
    --helper-tint: #c3ceda;
    --bg: #f5f5f5;
    --gradient: linear-gradient(
        0deg,
        rgb(132, 144, 255) 0%,
        rgb(98, 189, 252) 100%
    );
    --gradientSupport: -webkit-linear-gradient(
        0deg,
        rgb(132, 144, 255) 0%,
        rgb(98, 189, 252) 100%
    );
    --shadow: 0px 0px 20px 0px rgb(132, 144, 255 / 20%);
} */

:root {
    --bg-color: #ffffff;
    --bg-dot-color: #e5e7eb;
    --bg-color-alt: #000e1a;
    --primary-color: #0c4160;
    --secondary-color: #14203d;
    --supporting-color: #69a7ca;
    --supporting-color-alt: #b1d4e0;
    --text-color: #303030;
    --card-color: #f0f0f0;
    --card-color-alt: #f5f5f5;
    --black: black;
    --white: #ffffff;
    --github-color: #010409;
    --linkedin-color: #0a66c2;
    --facebook-color: #1877f2;
    --instagram-colors: #ffd600, #ff7a00, #ff0169, #d300c5, #d300c5;
}

html {
    font-size: 62.5%; /** 1rem = 10px */
    overflow-x: hidden;
}

/***** BACKGROUND STYLING *****/
body {
    position: relative;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(
        var(--bg-dot-color) 1px,
        var(--bg-color) 1px
    ); /* Dot properties*/
    background-size: 16px 16px; /* Distance between the dots */
    background-attachment: fixed; /* Parallax effect */
    margin: 0;
}

/* Adjust the size of dots and background size for larger screens */
@media (min-width: 1440px) {
    body {
        background: radial-gradient(
            var(--bg-dot-color) 1.5px,
            var(--bg-color) 1.5px
        ); /* Increase dot size */
        background-size: 20px 20px; /* Increase grid spacing */
        background-attachment: fixed; /* Ensure parallax effect remains */
    }
}

@media (min-width: 1920px) {
    body {
        background: radial-gradient(
            var(--bg-dot-color) 2.32px,
            var(--bg-color) 2.32px
        ); /* Further increase dot size */
        background-size: 28px 28px; /* Increase grid spacing */
        background-attachment: fixed; /* Ensure parallax effect remains */
    }
}

@media (min-width: 2560px) {
    body {
        background: radial-gradient(
            var(--bg-dot-color) 3.5px,
            var(--bg-color) 3.5px
        ); /* Even larger dot size */
        background-size: 32px 32px; /* Further increase grid spacing */
        background-attachment: fixed; /* Ensure parallax effect remains */
    }
}

/***** End BACKGROUND STYLING *****/

h1,
h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
}

p {
    color: var(--text-color);
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/***** REUSABLE CODE *****/
.section {
    min-height: 100vh;
    padding: 12rem 0;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 9rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.social-media {
    display: grid;
    max-width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 3rem 0 4rem 0;

    & a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        background-color: var(--bg-color);
        color: var(--secondary-color);
        font-size: 3rem;
        border: 0.3rem solid var(--secondary-color);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;

        &:nth-child(4) {
            transition: box-shadow 0.3s ease, background-image 0.3s ease;
            -webkit-transition: color 0.3s ease, box-shadow 0.3s ease,
                background-image 0.3s ease;
            -moz-transition: color 0.3s ease, box-shadow 0.3s ease,
                background-image 0.3s ease;
            -ms-transition: color 0.3s ease, box-shadow 0.3s ease,
                background-image 0.3s ease;
            -o-transition: color 0.3s ease, box-shadow 0.3s ease,
                background-image 0.3s ease;
        }

        &:hover {
            color: var(--bg-color);
            box-shadow: 0 0 1rem var(--bg-color-alt);
            border-color: transparent;
        }

        &:nth-child(1):hover {
            background-color: var(--github-color);
        }
        &:nth-child(2):hover {
            background-color: var(--linkedin-color);
        }
        &:nth-child(3):hover {
            background-color: var(--facebook-color);
        }
        &:nth-child(4):hover {
            background-image: linear-gradient(
                to right bottom,
                var(--instagram-colors)
            );
            border: none;
        }
    }
}

.btn {
    display: inline-block;
    padding: 1.6rem 2.4rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    text-align: center;
    border: 0.3rem solid transparent;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;

    &:is(:hover, :active) {
        background-color: var(--supporting-color);
    }
}

.btn-alt {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-color: var(--primary-color);

    &:is(:hover, :active) {
        background-color: var(--supporting-color);
        color: var(--bg-color);
        border-color: transparent;
    }
}

.button-stack-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: max-content;
}

.img-container {
    display: grid;
    place-items: center;
    pointer-events: none;
}

.heading-with-info {
    margin-bottom: 4rem;

    & h2.primary-heading {
        font-size: 6rem;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--secondary-color);
        line-height: 1;

        & span {
            color: var(--primary-color);
        }
    }
    & h4.heading-info {
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--primary-color);
    }
}

.para-text {
    margin-bottom: 4rem;

    & span {
        color: var(--primary-color);
        font-weight: 700;
    }
}

.skill-service-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    & .skill-service-card {
        background-color: var(--card-color);
        padding: 6rem 4rem 8rem;
        text-align: center;
        border: 0.3rem solid var(--supporting-color-alt);
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;

        &:hover {
            border-color: var(--primary-color);
            background-color: var(--card-color-alt);
            scale: 1.02;
        }

        & i {
            font-size: 7rem;
            color: var(--primary-color);
        }

        & h3 {
            font-size: 3.5rem;
            text-transform: capitalize;
            color: var(--secondary-color);
        }

        & p {
            font-size: 2.5rem;
            margin: 1rem 0 3rem;
        }
    }
}
/***** End REUSABLE CODE *****/

/***** HEADER *****/
.header {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        font-size: 5rem;
        font-weight: 700;
        color: var(--primary-color);
        text-transform: capitalize;
    }

    & .navbar .navbar-list {
        display: flex;
        gap: 4.8rem;

        & .navbar-link {
            &:is(:link, :visited) {
                display: inline-block;
                text-decoration: none;
                /* font-family: "Playpen Sans", "Poppins", sans-serif; */
                font-size: 2.2rem;
                font-weight: 700;
                text-transform: uppercase;
                color: var(--secondary-color);
                transition: color 0.3s linear;
                -webkit-transition: color 0.3s linear;
                -moz-transition: color 0.3s linear;
                -ms-transition: color 0.3s linear;
                -o-transition: color 0.3s linear;
            }

            &:is(:hover, :active) {
                color: var(--supporting-color);
            }
        }
    }
}
/***** End HEADER *****/

/***** HERO *****/
.section-hero {
    & .section-hero-data {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .hero-text {
            font-family: "Shadows Into Light", "Playpen Sans", cursive;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 5rem;
            color: var(--secondary-color);
            line-height: 1.5;
        }
        /* & .hero-profession {
            color: red;
        } */

        & .hero-name {
            font-family: "Saucer BB", "Poppins", sans-serif;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 8rem;
            line-height: 0.8;
            color: var(--primary-color);
        }
    }

    & .section-hero-img {
        & .hero-img {
            max-width: 80%;
            border-radius: 38% 62% 60% 40% / 44% 48% 52% 56%;
            -webkit-border-radius: 38% 62% 60% 40% / 44% 48% 52% 56%;
            -moz-border-radius: 38% 62% 60% 40% / 44% 48% 52% 56%;
            -ms-border-radius: 38% 62% 60% 40% / 44% 48% 52% 56%;
            -o-border-radius: 38% 62% 60% 40% / 44% 48% 52% 56%;
        }
    }
}
/***** End HERO *****/

/***** ABOUT *****/
.section-about {
    & .section-about-img {
        & .about-img {
            max-width: 80%;
            border-radius: 54% 46% 39% 61% / 53% 48% 52% 47%;
            -webkit-border-radius: 54% 46% 39% 61% / 53% 48% 52% 47%;
            -moz-border-radius: 54% 46% 39% 61% / 53% 48% 52% 47%;
            -ms-border-radius: 54% 46% 39% 61% / 53% 48% 52% 47%;
            -o-border-radius: 54% 46% 39% 61% / 53% 48% 52% 47%;
        }
    }
    & .section-about-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/***** End ABOUT *****/
