/***** FONT IMPORTS *****/
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap&family=Playpen+Sans:wght@100..800&display=swap&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/saucer-bb");
/***** End FONT IMPORTS *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --bg-dot-color: #e5e7eb;
    --bg-color-alt: #000e1a;
    --primary-color: #0c4160;
    --secondary-color: #69a7ca;
    --supporting-color: #b1d4e0;
    --supporting-color-alt: #84c2d6;
    --heading-color: #14203d;
    --heading-color-alt: #f5f5f5;
    --text-color: #303030;
    --text-color-alt: #dadada;
    --card-color: #f0f0f0;
    --card-color-alt: #f5f5f5;
    --shadow-color: #7e7e7e;
    --black: black;
    --white: #ffffff;
    --github-color: #010409;
    --linkedin-color: #0a66c2;
    --facebook-color: #1877f2;
    --instagram-colors: #ffd600, #ff7a00, #ff0169, #d300c5, #d300c5;
}

html {
    font-size: 62.5%; /** 1rem = 10px */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.no-scroll-touch {
    overflow-y: hidden;
    /* touch-action: none; */
}

/***** BACKGROUND STYLING *****/
body {
    overflow-x: hidden;
    position: relative;
    z-index: -9999;
    height: auto;
    width: 100vw;
    background: radial-gradient(
        var(--bg-dot-color) 1px,
        var(--bg-color) 1px
    ); /* Dot properties*/
    background-size: 16px 16px; /* Distance between the dots */
    background-attachment: fixed; /* Parallax effect */
    margin: 0;
}

/***** End BACKGROUND STYLING *****/

h1,
h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
}

p {
    color: var(--text-color);
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/***** REUSABLE CODE *****/
.section {
    min-height: 100vh;
    /* padding: 12rem 0; */
    padding: 20rem 0 12rem;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
    gap: 9rem;
    /* grid-auto-flow: column;
    place-items: center; */
}

.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.social-media {
    display: grid;
    max-width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 3rem 0 4rem 0;

    & a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        background-color: var(--bg-color);
        font-size: 3rem;
        border-radius: 50%;
        color: var(--heading-color);
        -webkit-border-radius: 50%;
        border: 0.3rem solid var(--heading-color);
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;

        &:nth-child(4) {
            transition: box-shadow 0.3s ease, background-image 0.3s ease;
            -webkit-transition: color 0.3s ease, box-shadow 0.3s ease,
                background-image 0.3s ease;
            -moz-transition: color 0.3s ease, box-shadow 0.3s ease,
                background-image 0.3s ease;
            -ms-transition: color 0.3s ease, box-shadow 0.3s ease,
                background-image 0.3s ease;
            -o-transition: color 0.3s ease, box-shadow 0.3s ease,
                background-image 0.3s ease;
        }

        &:hover {
            color: var(--bg-color);
            box-shadow: 0 0 1rem var(--bg-color-alt);
            border-color: transparent;
        }

        &:nth-child(1):hover {
            background-color: var(--github-color);
        }
        &:nth-child(2):hover {
            background-color: var(--linkedin-color);
        }
        &:nth-child(3):hover {
            background-color: var(--facebook-color);
        }
        &:nth-child(4):hover {
            background-image: linear-gradient(
                to right bottom,
                var(--instagram-colors)
            );
            border: none;
        }
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 2.4rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    text-align: center;
    border: 0.3rem solid transparent;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;

    &:is(:hover, :active) {
        background-color: var(--secondary-color);
    }
}

.btn-alt {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-color: var(--primary-color);

    &:is(:hover, :active) {
        background-color: var(--secondary-color);
        color: var(--bg-color);
        border-color: transparent;
    }
}

.button-stack-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: max-content;
}

.img-container {
    display: flex;
    align-items: center;
    pointer-events: none;

    & :is(.hero-img, .about-img) {
        max-width: 80%;
    }
}

.heading-with-info {
    margin-bottom: 4rem;

    & h2.primary-heading {
        font-size: 6rem;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1;

        color: var(--heading-color);
        & span {
            color: var(--primary-color);
        }
    }
    & h4.heading-info {
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--primary-color);
    }
}

.para-text {
    margin-bottom: 4rem;

    & span {
        color: var(--primary-color);
        font-weight: 700;
    }
}

.skill-service-card-container {
    & .skill-service-card {
        display: grid;
        place-items: center;
        background-color: var(--card-color);
        padding: 6rem 4rem 8rem;
        text-align: center;
        border: 0.3rem solid var(--supporting-color);
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;

        &:hover {
            border-color: var(--primary-color);
            background-color: var(--card-color-alt);
            scale: 1.02;
            translate: 0 -1rem;
        }

        & i {
            font-size: 7rem;
            color: var(--primary-color);
            margin-bottom: 2rem;
        }

        & img {
            width: 7rem;
            margin-bottom: 1.5rem;
            pointer-events: none;
            user-select: none;
        }

        & h3 {
            font-size: 3.5rem;
            text-transform: capitalize;
        }

        color: var(--heading-color);
        & p {
            font-size: 2.5rem;
            margin: 1rem 0 0;
        }

        & a {
            margin-top: 3rem;
        }
    }
}

/***** End REUSABLE CODE *****/

/***** HEADER *****/
.header {
    position: fixed;
    background-color: transparent;
    z-index: 999999;
    width: 100%;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    & .logo {
        font-size: 5rem;
        font-weight: 700;
        color: var(--primary-color);
        text-transform: capitalize;
    }

    & .navbar .navbar-list {
        display: flex;
        gap: 4.8rem;

        & .navbar-link {
            &:is(:link, :visited) {
                display: inline-block;
                text-decoration: none;
                /* font-family: "Playpen Sans", "Poppins", sans-serif; */
                font-size: 2.2rem;
                font-weight: 700;
                text-transform: uppercase;
                color: var(--heading-color);
                transition: color 0.3s linear;
                -webkit-transition: color 0.3s linear;
                -moz-transition: color 0.3s linear;
                -ms-transition: color 0.3s linear;
                -o-transition: color 0.3s linear;
            }

            &:is(:hover, :active) {
                color: var(--secondary-color);
            }
        }
    }

    & .mobile-nav-btn {
        display: none;
        cursor: pointer;

        & .mobile-nav-icon.fa-xmark {
            display: none;
        }
    }

    /*? sticky navbar */
    &.sticky {
        background-color: var(--white);
        box-shadow: 0 0.1rem 1rem var(--shadow-color);
    }
}
/***** End HEADER *****/

/***** HERO *****/
.section-hero {
    /* padding: 20rem 0 12rem; */
    & .section-hero-data {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .hero-text {
            font-family: "Shadows Into Light", "Playpen Sans", cursive;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 5rem;
            line-height: 1.5;
            color: var(--heading-color);
        }

        & .hero-name {
            font-family: "Saucer BB", "Poppins", sans-serif;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 8rem;
            line-height: 0.8;
            color: var(--primary-color);
        }
    }

    & .section-hero-img {
        justify-content: flex-end;

        & .hero-img {
            border-radius: 38% 62% 60% 40% / 44% 48% 52% 56%;
            -webkit-border-radius: 38% 62% 60% 40% / 44% 48% 52% 56%;
            -moz-border-radius: 38% 62% 60% 40% / 44% 48% 52% 56%;
            -ms-border-radius: 38% 62% 60% 40% / 44% 48% 52% 56%;
            -o-border-radius: 38% 62% 60% 40% / 44% 48% 52% 56%;
        }
    }
}
/***** End HERO *****/

/***** ABOUT *****/
.section-about {
    & .section-about-img {
        justify-content: flex-start;

        & .about-img {
            border-radius: 54% 46% 39% 61% / 53% 48% 52% 47%;
            -webkit-border-radius: 54% 46% 39% 61% / 53% 48% 52% 47%;
            -moz-border-radius: 54% 46% 39% 61% / 53% 48% 52% 47%;
            -ms-border-radius: 54% 46% 39% 61% / 53% 48% 52% 47%;
            -o-border-radius: 54% 46% 39% 61% / 53% 48% 52% 47%;
        }
    }
    & .section-about-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/***** End ABOUT *****/

/***** PORTFOLIO *****/
.section-portfolio .section-portfolio-container {
    place-items: center;
    gap: 4rem;

    & .portfolio-box {
        position: relative;
        display: flex;
        width: 55rem;
        height: 35rem;
        overflow: hidden;
        border: 0.3rem solid var(--supporting-color);
        box-shadow: 0 0 1rem var(--bg-color-alt);
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;

        &:hover {
            scale: 1.02;
        }

        & img {
            width: 100%;
            height: 100%;
            transition: 0.5s ease;
            -webkit-transition: 0.5s ease;
            -moz-transition: 0.5s ease;
            -ms-transition: 0.5s ease;
            -o-transition: 0.5s ease;
        }

        &:hover img {
            scale: 1.1;
        }

        & .portfolio-layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                var(--primary-color)
            );
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 6rem;
            translate: 0 100%;
            transition: 0.5s ease;
            -webkit-transition: 0.5s ease;
            -moz-transition: 0.5s ease;
            -ms-transition: 0.5s ease;
            -o-transition: 0.5s ease;

            & h4 {
                font-size: 5rem;
                color: var(--heading-color-alt);
            }

            & p {
                font-size: 2.5rem;
                margin: 0.3rem 0 1rem;
                color: var(--text-color-alt);
            }

            & .button-stack-two a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 6rem;
                height: 6rem;
                background: var(--text-color);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

                & i {
                    font-size: 2.5rem;
                    color: var(--bg-color);
                }
            }
        }

        &:hover .portfolio-layer {
            translate: 0 0;
        }
    }
}
/***** End PORTFOLIO *****/

/***** CONTACT *****/
.section-contact .section-contact-container {
    & form {
        max-width: 70rem;
        margin: 0 0 3rem;
        /* text-align: center; */

        & .input-box {
            display: flex;
            justify-content: space-between;
            /* flex-wrap: wrap; */
            gap: 1rem;
        }

        & :is(.input-box input, textarea) {
            width: 100%;
            padding: 1.5rem;
            font-size: 2rem;
            color: var(--text-color);
            background-color: var(--card-color);
            margin: 0.7rem 0;
            border: 0.3rem solid var(--supporting-color);
            border-radius: 0.8rem;
            -webkit-border-radius: 0.8rem;
            -moz-border-radius: 0.8rem;
            -ms-border-radius: 0.8rem;
            -o-border-radius: 0.8rem;

            &:focus {
                background-color: var(--card-color-alt);
                border-color: var(--supporting-color-alt);
            }
        }

        & .input-box input {
            width: 50%;
        }

        & textarea {
            resize: none;
        }

        & button.btn {
            margin-top: 2rem;
            width: 100%;
        }
    }

    & .contact-info {
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 9.6rem;

        & h4 {
            font-size: 3.5rem;
            color: var(--heading-color);
            margin-bottom: 1.5rem;

            & i {
                color: var(--primary-color);
            }
        }

        & p {
            font-size: 2.5rem;
        }
    }
}
/***** End CONTACT *****/

/***** FOOTER *****/
.section-footer {
    padding: 3.5rem 0;
    background-color: var(--primary-color);

    & .section-footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    & .footer-text {
        display: grid;
        place-items: center;

        & p {
            font-size: 2.5rem;
            color: var(--text-color-alt);

            & a {
                color: var(--supporting-color);
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }
    }
}
/***** End FOOTER *****/

/***** SCROLL TO TOP FLOATING BUTTON *****/
.scrollTop-style {
    position: fixed;
    right: 2%;
    bottom: 18%;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    & i {
        font-size: 2.7rem;
        color: var(--white);
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;
    }

    &:hover {
        box-shadow: 0 0 1rem var(--text-color);

        & i {
            scale: 1.2;
            translate: 0 -0.3rem;
        }
    }
}

/* .arrow-down-translate:hover i {
    translate: 0 0.3rem;
} */

/***** End SCROLL TO TOP FLOATING BUTTON *****/

/***** RESPONSIVE DESIGN *****/

@media (max-width: 1500px) {
    html {
        font-size: 50%; /* 1rem = 8px */
    }

    .container {
        max-width: 130rem;
        padding: 0 3.2rem;
    }

    .header .container {
        padding: auto 3.2rem;
    }

    .img-container :is(.hero-img, .about-img) {
        max-width: 90%;
    }
}

@media (max-width: 1300px) {
    html {
        font-size: 43.75%;
        /* 1rem = 7px */
    }

    .grid-four-column {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .img-container :is(.hero-img, .about-img) {
        max-width: 95%;
    }
}

@media (max-width: 1200px) {
    .container,
    .header .container {
        max-width: 110rem;
    }

    .grid-two-column {
        gap: 4.8rem;
    }

    .grid-four-column {
        grid-template-columns: repeat(3, 1fr);
    }

    .img-container :is(.hero-img, .about-img) {
        max-width: 100%;
    }

    .section-portfolio .section-portfolio-container .portfolio-box {
        width: 50rem;
        height: 30rem;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 37.5%; /* 1rem = 6px */
    }

    .header {
        display: relative;

        & .mobile-nav-btn {
            display: block;
            color: var(--text-color);
            z-index: 9999;

            & .mobile-nav-icon {
                font-size: 5rem;
            }
        }

        & .navbar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: var(--secondary-color);
            display: flex;
            justify-content: center;
            align-items: center;
            translate: 100vw;
            transition: all 0.5 ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            z-index: 9999;

            & .navbar-list {
                flex-direction: column;
                align-items: center;

                & .navbar-link:is(:link, :visited) {
                    color: var(--text-color);
                    font-size: 3.2rem;
                }
            }
        }
    }

    /*? ------active-class-start-------- */
    .active {
        & .navbar {
            translate: 0 0;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        & .mobile-nav-btn {
            & .mobile-nav-icon.fa-xmark {
                display: block;
            }

            & .mobile-nav-icon.fa-bars {
                display: none;
            }
        }
    }
    /*? ------active-class-end-------- */

    .section-hero .section-hero-data .hero-name {
        line-height: 0.7;
    }

    /*? Hero and About imgs setting  start*/
    :is(.section-hero, .section-about) .grid-two-column {
        grid-template-columns: 1fr;
        gap: 12rem;
    }

    .section-about .grid-two-column .section-about-img {
        /* order: 2; */
        /* grid-row: 2/3; */
        grid-row: 2;
    }

    .img-container :is(.hero-img, .about-img) {
        max-width: 70%;
    }

    .section-hero .section-hero-img,
    .section-about .section-about-img {
        justify-content: center;
    }
    /*? Hero and About imgs setting  end*/

    .section-hero .section-hero-data {
        align-items: center;

        & .hero-name {
            text-align: center;
            margin: 1rem auto;
        }
    }

    .section-services .skill-service-card-container.grid-three-column {
        grid-template-columns: 1fr 1fr;
    }

    .section-portfolio .section-portfolio-container.grid-two-column {
        grid-template-columns: 1fr;

        .portfolio-box {
            width: 100%;
            height: 100%; /*todo correct this later */
        }
    }

    .section-contact .section-contact-container.grid-two-column {
        grid-template-columns: 1fr;

        & form {
            max-width: 100%;
        }

        & :is(.input-box input, textarea) {
            padding: 3.2rem 1.6rem;
        }
    }

    .section-contact .section-contact-container {
        & .contact-info {
            text-align: left;
            border-right: 1.2rem solid var(--primary-color);
        }

        & form button.btn {
            padding: 2.4rem 2.4rem;
            font-size: 3.2rem;
        }
    }
}

@media (max-width: 780px) {
    .container {
        max-width: 100rem;
    }

    .section-skills .skill-service-card-container.grid-four-column {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    html {
        font-size: 31.25%; /* 1rem = 5px */
    }

    .section-services .skill-service-card-container.grid-three-column {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 25%; /* 1rem = 4px */
    }
}
/***** End RESPONSIVE DESIGN *****/
